/* ===========================================================================================
 *                                                                                           *  
 *   Responsive Framework CSS by:                                                            *
 *   W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes                                 *
 *                                                                                           *
 *   Modifications by:  USYD Project Team - week 7                                           *
 *                      Alexis Mastrodomenico | Luke McMillan | Gustavo Vas  | Mark Watson | *
 *                                                                                           *
 *   File Created:      28 September 2021                                                    *
 *                                                                                           *
 *                                                                                           *
 * ========================================================================================= */

/* == 1. Global settings =================================================================== */

@import url("icomoon/iconfonts.css"); 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

/* Includes fonts I've created in Inkscape */

:root {

  --deep-blue:  rgba(14, 68, 115, 1);
  --ocean-blue: rgba(15, 108, 166, 1);
  --espresso:   rgba(166, 109, 88, 1);
  --chocolate:  rgba(115, 99, 98, 1);
  --paper:      rgba(220, 215, 212, 1);

  --bright-blue:rgba(5, 17, 242, 1);
  --artic-blue: rgba(15, 124, 191, 1);
  --light-blue: rgba(17, 160, 217, 1);
  --sky-blue:   rgba(78, 191, 217, 1);
  --terracotta: rgb(197, 155, 140);

  --rocks-dark: rgba(127, 125, 140, 1);
  --ocean-dark: rgba(149, 179, 191, 1);
  --sand-light: rgba(220, 234, 242, 1);
  --sand-dark:  rgba(191, 191, 189, 1);
  --sunset-sky: rgba(191, 153, 153, 1);
}

/* == Project Specific Settings ============================================================== */

#search-form {
  background: white;
}

.form-wrapper button {
  overflow: visible;
  position: relative;
  margin-top: -2.83rem;
  margin-right: 0.15rem;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 2.7rem;
  width: 50px;
  font: bold 15px/40px "Roboto", "sans-serif", "Tahoma";
  color: #fff;
  text-transform: uppercase;
  background: var(--chocolate);
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.form-wrapper button:hover {
  background: var(--sky-blue);
}

.form-wrapper button:active,
.form-wrapper button:focus {
  background: var(--sky-blue);
  outline: 0;
}

.form-wrapper button:before {
  /* left arrow */
  content: "";
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent var(--chocolate) transparent;
  top: 12px;
  left: -6px;
}

.form-wrapper button:hover:before {
  border-right-color: var(--sky-blue);
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before {
  border-right-color: var(--sky-blue);
}

/* removes extra button spacing for Mozilla Firefox */
.form-wrapper button::-moz-focus-inner {
  border: 0;
  padding: 0;
}


.recipe-generator {
  min-height: calc(100vh - 3rem);
  min-width: 100vw;
}

.footer {
  height: 3rem;
}

/* =================================================================== */


.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1rem;
  background: cornsilk;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--chocolate);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background:var(--chocolate);
  cursor: pointer;
}


.title-results{
  background:rgb(202, 146, 101);
  border-radius: 5px;
  display:none;
  font-family:sans-serif;
  font-size: 16px;
  font-weight:300;
  -webkit-box-pack:space-evenly;
  -ms-flex-pack:space-evenly;
  justify-content:space-evenly;
  margin:1rem auto 1.5rem;
  max-width:18rem;
  padding:.75rem;
  position:relative;
  text-align:center}

.title-results--show{
  display:block
}

.title-results:after {
  border:.5rem solid transparent;
  border-bottom-color:rgb(202, 146, 101);
  border-top:0;
  content:'';
  height:0;left:50%;
  margin-left:-.5rem;
  margin-top: 45px;
  position:absolute;
  top:0;width:0;
  transform: rotate(179deg);
}

.meal-result{
  margin-top: 4rem;
  background-color: transparent;

}

#meal {
  margin: 2.4rem 0;
  width: 65vw;
    justify-content: center;
    border-radius: 10px;
}

.meal-item{
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 2rem 0;
}

.meal-img img{
  width: 100%;
  display: block;
  border-radius: 20px 20px 0px 0px;
}

.meal-name{
  padding: 1.5rem 0.5rem;
}

.meal-name h3{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  text-align: center;
  font-weight: 500;
}

.recipe-btn{
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: rgb(203 146 101);
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.75rem 0;
  display: block;
  width: 175px;
  margin: 1rem auto;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.recipe-btn:hover{
  background: rgb(202, 146, 101);
}

.meal-details{
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #fff;
  background: rgb(202, 146, 101);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  width: 80%;
  height: 80%;
  overflow-y: scroll;
  display: none;
  padding: 2rem 2rem;
}

.meal-details::-webkit-scrollbar{
  width: 10px;
}

.meal-details::-webkit-scrollbar-thumb{
  background: #f0f0f0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.showRecipe{
  display: block;
}

.meal-details-content{
  margin: 2rem;
}

.meal-details-content p:not(.recipe-category){
  padding: 1rem 0;
}

.recipe-close-btn{
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.8rem;
  background: #fff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}


.recipe-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.recipe-title{
  letter-spacing: 1px;
  font-weight: 500;
}

p, .recipe-instruct {
  font-weight: 300;
  font-size: 15px;
}

.recipe-summary {
  border: 0.05px solid #f1f1f1;
  padding: 0px 20px;
  border-radius: 12px;
  max-width: 1000px;
  margin: 0;
  max-height: 450px;
}


.recipe-category{
  background: #fff;
  font-weight: 600;
  color: var(--ocean-blue);
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.recipe-category{
  background: #fff;
  font-weight: 600;
  color: var(--ocean-blue);
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.recipe-instruct{
  padding: 1rem 0;
}

.recipe-meal-img img{
  max-width: 30rem;
  max-height: 30rem;
  border-radius: 20px;
  display: block;
}

.recipe-link{
  margin: 1.4rem 0;
}

.recipe-link a{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.recipe-link a:hover{
  opacity: 0.8;
}

.notFound{
  /* grid-template-columns: 1fr!important; */
  color: var(--ocean-blue);
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}


#toggleIngredients {
  max-height: 450px;
  border: 0.05px solid #f1f1f1;
  padding: 0pc 20px;
  border-radius: 12px;
  max-width: 1000px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1rem;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background:  var(--chocolate);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background: var(--chocolate);
  cursor: pointer;
}

.lettuce-img {
  width: 115px;
    height: 120px;
    margin-right: 6px;
}

/* ============================================================= */


@media (max-width: 601px) {
  

  .meal-name h3{
    font-size: 1.1rem;
  }

  .recipe-btn{
    width: 6rem;
    font-size: 0.9rem;
  }

  .recipe-card{
    min-width: 8rem;
    margin: 0.5rem 0.5rem!important;
  }

  .meal-name{
    padding: 0.5rem 0.25rem;
  }

  .search-bar{
    margin-top: 1rem !important;
  }

}


/* ==================================================================================== 
    The End, my friend.
   ==================================================================================== */
